* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.App {
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-flow: column nowrap;
  width: 300px;
}

.linkButton {
  align-self: flex-end;
}

input {
  height: 2em;
  margin-bottom: 14px; 
  border-radius: 4px;
  border: 0;
  background-color: #e5e5e5;
  padding-left: 1em;
}

.title {
  margin-bottom: 20px;
  font-size: 52px;
}

button {
  height: 2em;
  border: 0;
  border-radius: 4px;
  background-color: #28afb0;
}